body{
    background-color:#19151f;
    font-family: 'Exo 2', sans-serif;
    color:#fff;
}

header{
    background-color:#2e253bb2;
    backdrop-filter:blur(5px);
}

header .nav .nav-link:hover{
    background-color: #f13800;
}

header .navbar-toggler-icon{
    width:40px;
    height:40px;
    background-color:#f13800 !important;
}

.nav .nav-link.active{
    background-color:#f13800;
}

header .navbar-toggler{
    padding:0px;
}

.nav .nav-link{
    color:#fff;
}

header .navbar-brand:hover{
    color:#f13800;
}

.social-links li{
    list-style:none;
    display:inline;
}

.social-links a{
    text-decoration:none;
}

#about .image{
    width:100%;
    height:100%;
    background-color:#f13800;
    border-radius:0 0 0 100%;
}

.text-colored,
header .navbar-brand{
    color:#f13800;
}

#skills{
    background-color:#0b0611;
}

#projects{
    background-color:#372d47;
}

#projects .carousel .carousel-item img{
    opacity:0.4;
}

.carousel .carousel-caption a{
    text-decoration:none;
}

.carousel .carousel-caption .btn.btn-primary,
#contact .btn.btn-primary{
    background-color:#f13800;
    border-color:#f13800;
}

.carousel .carousel-caption .btn.btn-primary:hover,
#contact .btn.btn-primary:hover{
    background-color:#dd3400;
    border-color:#dd3400;
}

#contact .card{
    background-color:#372d47;
    color:#fff;
}

@media (max-width:767px){
    .social-links li{
        width:40px;
    }
    section{
        padding-top:20px;
    }
    #skills .tab-content .tab-pane.active .col-md-3{
        display:flex;
        align-items:center;
        justify-content:center;
    } 
    #skills .tab-content .tab-pane.active img{
        width:50%!important;
    }
    #projects .carousel{
        margin-bottom:20px;
    }
    #contact .col-md-4{
        margin-top:20px;
    }
    #contact .col-md-2{
        margin-bottom:20px;
    }
}